$header-img-url: url(../img/m-h-night.jpg);
$bodycolor: #21232F;
$maincolor: #ffffff;
$join-button-color: #ffd300;
$boxes-color: #3C3F4F;
$text-bg: #E75947;
$box-h-text: #ffffff;
$box-p-text: #bab7b7;
$grad-last-color: #7F2F4E;
$gradient: linear-gradient(120deg, $join-button-color 0%,   $grad-last-color 100%);
$main-font: 'Fresca', sans-serif;
$fonts:
("smallest": 12px,
"small": 14px,
"normal": 20px,
"large": 25px,
"very-large": 38px,
"huge": 58px);


@mixin join-button {
                background-color: $join-button-color;
                border: none;
                color: white;
                padding: 12px 40px;
                text-align: center;
                font-size: 16px;
                margin: 0 2px 14px;
                cursor: pointer;
                border-radius: 3px;
                font-weight: bold;
                display: table-cell;
                vertical-align: middle;
                
            }

@mixin landing-logo-p 
{
    text-align: center;
    font-family: $main-font;
    color: white;
    font-size: 24px;
    text-transform: uppercase;
    margin: 0 5px;
    display: inline-block;
}

@mixin span-hiking {
    @include landing-logo-p;
    
    span.hiking
            {
                display: block;
                 text-transform: lowercase;
                    font-size: 12px;
                    text-align: center;
                
                ::before
                {
                    content: attr(data-text);
                    padding: 1px 8px;
                     
                }
                 }
        }

@mixin img-logo {
     @include span-hiking;       
        
       
        
    }
