@media print {

div.tm-sidebar, div.flex-item.tm-team-img, div#about.tm-content-box, ul.boxes.gallery-container, img.img-fluid.img-contact-us, div#contact.padding-medium, ol.carousel-indicators
    {
        display: none;
    }
    
.flex-item
    {
        display: inline;
       
    }
   
.tm-main-content
    {
        padding-top: 1px;
        display: block;
        width: 100%;
        font-size: 12px;
    }
   
.padding-medium {
    padding-top: 2px;
    padding-bottom: 2px
    
    }
    
    
h2
    {
        text-transform: uppercase;
        color: lightskyblue;
        font-size: 22px;
        text-align: center;
        font-weight: 200;
    }
    
p
     {
      
        font-size: 11px;
        text-align: center;
         
         
    }

   
    
.tm-banner {
    padding: 10px;
}
    
.tm-banner-inner {
    padding: 10px 0;
    
    }
    
.tm-team-description-container {
padding: 5px 40px;
   
}
    
    
.tm-content-box {
    margin: 0;
 padding: 5px 40px;
     
}
    .tm.section-description {
        padding: 5px 40px;
    }
   section.heading.tm-content-box a 
    {
       text-indent: 50%; 
      
    }
    
     .tm-content-box ol
    {
         list-style: none;
    }
    
    .tm-content-box ol li:nth-child(odd) {
margin-right: 100px;
text-align: right;
        list-style: none;
}
    
    div.padding-medium ol
    {
        padding-left: 100px;
    }
    
}



/*screen*/

@media screen {

.tm-nav-item a:hover {
    background-color: lightskyblue;
    color: #ffffff;
}

.tm-banner {
    background-image: linear-gradient(to right, lightskyblue, burlywood);
}
.tm-banner-inner {
    background-color: #ffffff;
}

h2.tm-section-title
    {
    text-align: center;
}

section.blocks h2.tm-section-title
    {
    text-align: left;
}  
  
div.padding-medium.flex-item.tm-team-description-container.flex-item p {
   text-indent: 20px;
}

div.flex-item.tm-team-img {
   
    float: right;
    
}

section.tm-content-box:first-child {
display: flex;
}
    

p.tm-banner-text
 {
   position:relative;
     animation: banner 2s infinite;
     text-shadow: 4px 5px 4px #333; 
    
}
    @keyframes banner
    {
  from {left: 200px;}
  to {left: 0px;}
    }

div.tm-content-box.flex-2-col
{
    display: flex;
    align-items: center;
}

p.tm-section-description:last-child
    {
    text-align: left;
    }
    
li.box.box-bg:hover
    {
        background-color: lightgray;
        color: lightskyblue;
    }
    
h2.tm-section-title.tm-section-title-box.tm-box-bg-title:hover
    {
        font-style: italic;
    }
    
section.heading.tm-content-box h2
    {
        color: lightskyblue;
        text-align: center;
    }
    
section.heading.tm-content-box ol
    {
        list-style-type: lower-alpha;
        
    }

section.heading.tm-content-box li:hover::before
    {
        content: ">"; 
       
    }
    
a.text::after
    {
        content: "New"; 
        vertical-align: super;
        font-size: smaller;
        color: red;
        display:inline-block;
       
    }
    

    
section.blocks p:nth-child(2n+1)
    {
        letter-spacing: 5px;
        word-spacing: 10px;
        font-style: italic;
        text-align: justify;
        text-indent: 20px;
        
    }
    
section.blocks p.tm-section-description 
    {
        text-align: justify;
        text-indent: 20px;
        
    }


    
li.box.box-work:nth-child(2n+1)
    {
        background-color: lightskyblue;
        color: #ffffff;
    }
    
li.box.box-work
    {
        padding: 5px;
    }
    
ul.boxes.gallery-container p
    {
       font-style: italic; 
    }
    
ul.boxes.gallery-container p::first-letter
    {
        font-weight: bold;
    }
    
p.tm-section-description.carousel-description 
    {
       text-indent: 25px;
        line-height: 30px;
    }
    
input:focus
    {
        background-color: lightskyblue;
    }
    


div.tm-main-content section, div#home.tm-content-box.tm-content-header.margin-b-10,  section.heading.tm-content-box, section.blocks, section#ideas, section.tm-content-box
    {
        box-shadow: 0 0 10px rgba(61, 55, 61, 0.7); 
    }
    
section::before 
    { content: ""; 
        display: block; 
        border-right: 50px solid transparent; 
        border-top: 50px solid lightskyblue; 
        
    }
    
textarea#contact_message.form-control
    {
background: url('../img/email-icon.png');
background-repeat: no-repeat;
background-position: right 10px bottom 10px;
background-size: 35px;
        
    } 
}